*{
    margin: 0px;
    padding: 0px;
}
.body{
    background-image: url(images/form.jpg);
   background-size: cover;
    background-size: 100%
}
div.main{
width: 400px;
margin: 100px auto 0px auto;
text-align: center;
}
h2{
text-align: center;
padding: 20px;
font-family: sans-serif;
}
div.register{
    background-color: rgba(0,0,0,0.5)
    ;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba((0,0,0,0.3),
    green, blue, alpha);
color: #fff;
}
form#register{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;

}
.btn{
    background-color: rgba(16, 140, 172, 0.911);
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid grey;
    border-radius: 4px;
}
hr{
    color: black;
}
footer{
    text-align: center;
}